
<header class="main-header" data-header>
  <div class="header-content">

    <div class="logo-nav-wrapper">
      <div class="logo-title-wrapper">
        <div class="logo">
          <a href="https://www.linkedin.com/in/kamkranse" target="_blank" class="sc-link"><img src="./contact/linked.png" style="width:100%; height:100%"> </a>
        </div>
        <div class="logo">
          <a href="https://www.linkedin.com/in/kamkranse" target="_blank" class="sc-link"><img src="./images/linked.png" style="width:100%; height:100%"> </a>
        </div>
        <div class="logo">
          <a href="https://www.linkedin.com/in/kamkranse" target="_blank" class="sc-link"><img src="./images/linked.png" style="width:100%; height:100%"> </a>
        </div>
        <div class="logo">
          <a href="https://www.linkedin.com/in/kamkranse" target="_blank" class="sc-link"><img src="./images/linked.png" style="width:100%; height:100%"> </a>
        </div>
        <div class="logo">
          <a href="https://www.linkedin.com/in/kamkranse" target="_blank" class="sc-link"><img src="./images/linked.png" style="width:100%; height:100%"> </a>
        </div>


        {% if page.layout == "font" or page.layout == "project" or page.layout == "page" %}
        <div class="desktop-page-title">
          <h1>{{ page.title }}</h1>
        </div>
        {% endif %}
      </div>


    </div>

  </div>
</header>
