
<header class="main-header" data-header>
  <div class="header-content">

    <div class="logo-nav-wrapper">
      <div class="logo-title-wrapper">
        <div class="logo">
          <a href="https://twitter.com/kamkranse" target="_blank" class="sc-link"><img src="./images/contact/twitter.png" style="width:80%; height:80%"> </a>
        </div>
        <div class="logo">
          <a href="https://www.facebook.com/kameron.kranse" target="_blank" class="sc-link"><img src="./images/contact/face.png" style="width:80%; height:80%"> </a>
        </div>
        <div class="logo">
          <a href="https://www.linkedin.com/in/kamkranse" target="_blank" class="sc-link"><img src="./images/contact/linked.png" style="width:80%; height:80%"> </a>
        </div>
        <div class="logo">
          <a href="https://github.com/KamKranse" target="_blank" class="sc-link"><img src="./images/contact/git.png" style="width:80%; height:80%"> </a>
        </div>
        <div class="logo">
          <a href="mailto:kam.kranse@gmail.com" target="_blank" class="sc-link"><img src="./images/contact/email.png" style="width:80%; height:80%"> </a>
        </div>


        {% if page.layout == "font" or page.layout == "project" or page.layout == "page" %}
        <div class="desktop-page-title">
          <h1>{{ page.title }}</h1>
        </div>
        {% endif %}
      </div>


    </div>

  </div>
</header>
